html, body {
    background-color: #606c38;
    color: #fefae0;
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

p {
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer, a {
    color: #3b3b3b;
}

input {
    padding: 3px;
    color: #283618;
    font-weight: bold;
    background-color: #fefae0;
    border-radius: 4px;
    border-width: 0px;
}

button {
    padding: 10px;
    color: #fefae0;
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: #bc6c25;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.4);

}

button:hover {
    padding: 10px;
    color: #fefae0;
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    background-color: #bd7332;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.1);

}

.page {
    display: flex;
    justify-content: center;
}
.bloc {
    text-align: center;
    background-color: #283618;
    line-height: 200%;
    width: 50%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 12px 5px rgba(0, 0, 0, 0.3);
}

#form {
    display: flex;
    justify-content: center;
}

.fixed-bloc {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.fixed-bloc > h2 {
    font-size: 25px;
}
#form > div {
    padding: 5px 10px;
}

.result {
    background-color: #fefae0;
    font-weight: bold;
    color: #bc6c25;
    padding: 2px 4px;
    margin: 1px;
    border-radius: 4px;
}

#opened-bloc {
    display: flex;
    text-align: center;
    justify-content: space-between ;
    align-items: center;
}

#opened-bloc > img {
    width: 30%;
    height: 100%;
    margin-right: 10%;
}

#opened-bloc > p {
    width: 60%;
}
@media screen and (max-width: 850px) {
    #opened-bloc {
        display: block;
    }
    #opened-bloc > img {
        margin-right: 0px;
        width: 60%;
    }
}

#graph {
    display: block;
}

#graph > a > canvas {
    width: 85%;
    height: 85%;
    margin-top: 20px;
    border-radius: 20px;
    border: 10px solid #965823;
    box-shadow: 5px 3px 12px 5px rgba(0, 0, 0, 0.3);
}

#graph > button {
    margin: 0 10px;
    width: 40px;
}

#graph > #zoomValue {
    font-size: 22px;
}

.copyright {
    text-align: right;
    margin-bottom: -10px;
}