:root {
    --couleur1: #283618 ;
    --couleur2: #606c38 ;
    --couleur3: #fefae0 ;
    --couleur4-1: #bc6c25 ;
    --couleur4-2: #d68844 ;
}

html, body {
    position: relative;
    display: grid;
    margin: 0;
    height: 100%;
    
    background-color: var(--couleur2);
    color: var(--couleur3);
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

p {
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer, a {
    color: var(--couleur3);
}

input {
    padding: 3px;
    color: #283618;
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
    border-width: 0px;
}

button {
    padding: 10px;
    color: #f1f1f1;
    font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    background-color: var(--couleur4-1);
    border: none;
    border-radius: 15px;
    box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.4);
    transform: none;
    transition: transform 100ms linear;
}

button:hover {
    background-color: var(--couleur4-2);
    box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.1);

    transform: scale3d(1.05, 1.05, 1.05);
}

.page {
    display: flex;
    justify-content: center;
}

.bloc {
    text-align: center;
    background-color: var(--couleur1);
    line-height: 200%;
    width: 50%;
    height: min-content;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 3px 12px 5px rgba(0, 0, 0, 0.3);
}

#form {
    display: flex;
    justify-content: center;
}

.fixed-bloc {
    text-align: center;
    justify-content: center;
    width: 100%;
}

.fixed-bloc > h2 {
    font-size: 25px;
}
#form > div {
    padding: 5px 10px;
}

.result {
    background-color: white;
    font-weight: bold;
    color: var(--couleur4-1);
    padding: 2px 4px;
    margin: 1px;
    border-radius: 4px;
}

#opened-bloc {
    display: flex;
    text-align: center;
    justify-content: space-between ;
    align-items: center;
}

#opened-bloc > img {
    width: 40%;
    height: 100%;
    margin-right: 10%;
}

#opened-bloc > p {
    width: 60%;
}
@media screen and (max-width: 850px) {
    #opened-bloc {
        display: block;
    }
    #opened-bloc > img {
        margin-right: 0px;
        width: 60%;
    }
}

#graph {
    display: block;
}

#graph > a > canvas {
    width: 85%;
    height: 85%;
    margin-top: 20px;
    border-radius: 20px;
    border: 10px solid var(--couleur4-1);
    box-shadow: 5px 3px 12px 5px rgba(0, 0, 0, 0.3);
}

#graph > button {
    margin: 0 10px;
    width: 40px;
}

#graph > #zoomValue {
    font-size: 22px;
}

.copyright {
    text-align: right;
    margin-bottom: -10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.479);
}